section.works-head
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").works-head__triangle.works-head__triangle_left
    polygon(points="0,0 0,100 1000,100").section-blog__triangle
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").works-head__triangle.works-head__triangle_right
    polygon(points="0,100 1000,100 1000,0").section-blog__triangle

section.section-blog
  .section-blog__container
    //.section-blog__menu
    //.blog__sidebar
    .sidebar
      ul.sidebar__list
        each article, ndx in items
          li.sidebar__item
            a(href=`#article-${ndx}`).sidebar__link= article.title
    .section-blog__articles
      .articles
        each article, ndx in items
          article(id=`article-${ndx}`).article
            .article__title= article.title
            .article__created-at= article.date
            .article__content= article.body
